body {
  margin: 0;
  font-family: sans-serif;
  background-color: #5dcfe5;
}
* {box-sizing: border-box;}

.ui-sortable {
  min-height: 80px;
}

.btn-delete {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 0;
  background-color: rgba(0,0,0,0.3);
  color: white;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: rgba(0,0,0,0.6);
}
/* BOARD */
.board h1, .board h2 {
  text-align: center;
  font-weight: 500;
  font-variant: small-caps;
  letter-spacing: 1px;
}


.column-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}


/* COLUMN */
.column {
  order: 1;
  min-width: 300px;
  min-height: 50vh;
  background-color: #fff;
  margin-left: 8px;
  list-style: none;
  position: relative;
}

.column-add-card, .create-column {
  cursor: pointer;
  text-decoration: none;
  margin: 5px 8px;
  display: block;
  padding: 3px 10px;
  letter-spacing: 1px;
}


/* STYLE KARTY */
.card {
  box-sizing: border-box;
  display: block;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin-bottom: 5px;
  padding: 4px;
  overflow: hidden;
  position: relative;
}
.card-list {
  list-style: none;
  margin: 5px;
  padding: 5px;
}
.card-description {
  margin: 1px 0;
}
.card-placeholder {
  box-sizing: border-box;
  display: block;
  height: 60px;
  margin-bottom: 5px;
  border: 2px solid lightgrey;
  background-color: lightblue;
}
